@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'EngraversEF';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EngraversEF-Roman.woff2?v=1697635125') format('woff2'),
      url('/fonts/EngraversEF-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Snell';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/SnellBT-Regular.woff2?v=1697635125') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/SnellBT-Regular.woff?v=1697635125') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'EngraversGothic';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EngraversGothicBT-Regular.woff2?v=1697635125') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EngraversGothicBT-Regular.woff?v=1697635125') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'EurostileMonoEF';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EurostileMonoEF-Regular.woff2?v=1697635125') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EurostileMonoEF-Regular.woff?v=1697635125') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  button {
    letter-spacing: inherit;
  }
  html {
    @apply font-medium text-black;
  }
  
  body {
    @apply bg-white font-sans uppercase text-md md:text-xs 2xl:text-xl;
  }

  html,
  body {
    overscroll-behavior: none;
  }

  * {
    @apply uppercase;
  }

  .skew {
    @apply inline-block;
    transform: scale(.85,1);
    letter-spacing: .15em;
  }

  .min-h-screen {
    min-height: 100vh !important; /* fallback */
    min-height: 100dvh !important;
  }

  .h-screen {
    height: 100vh !important; /* fallback */
    height: 100dvh !important;
  }
}

@layer components {
  .linkTextNavigation {
    @apply uppercase hover:underline underline-offset-4 decoration-[.8px];
  }

  .linkTextNavigationActive {
    @apply uppercase underline underline-offset-4 decoration-[.8px];
  }

  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }
    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }
    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }

  .select {
    align-items: center;
    background-color: theme('colors.lightGray');
    border-radius: theme('borderRadius.full');
    color: theme('colors.offBlack');
    display: flex;
    font-size: theme('fontSize.sm');
    font-weight: theme('fontWeight.bold');
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme('letterSpacing.normal');
    overflow: hidden;
    padding: theme('padding.4');
    transition: all 200ms ease-out;
  }

  .select:disabled {
    color: theme('colors.darkGray');
  }

  .select:hover:not(:disabled) {
    opacity: 0.9;
  }
}

* {
  font-variant-ligatures: none;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}


.leaders {
  @apply relative w-full flex justify-between overflow-hidden hover:opacity-50;
}

.leaders span {
  @apply relative z-10 bg-white;
}

.leaders::before {
  content:'................................................................................................................................................................................................................................................................';
  @apply pointer-events-none absolute bottom-0 select-none;
}

/* Large titles */
.large-title:hover {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(55deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(55deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(55deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(55deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(55deg, 0deg);
}

/* Form */
form {
  @apply flex flex-col gap-4 md:gap-6;
}
fieldset {
  @apply flex flex-col gap-[1rem];
  letter-spacing: inherit;
}
input {
  @apply border border-black border-[1.5px] p-2 md:p-5 hover:opacity-50 focus:opacity-100 outline-none;
  letter-spacing: inherit;
}

textarea, select {
  @apply border border-black  border-[1.5px] p-2 md:p-5;
  letter-spacing: inherit;
}

/* Gallery */
.gallery-module div:first-child img {
  @apply md:object-right;
}

.gallery-module div:last-child img {
  @apply md:object-left;
}

/* Portable Text */
.portableText, .portableText * {
  @apply !normal-case;
}

.font-serif * {
  letter-spacing: .02em;
  @apply normal-case;
}


.rte.body, .rte.body * {
  @apply !normal-case;
}