@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'EngraversEF';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EngraversEF-Roman.woff2?v=1697635125')
        format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EngraversEF-Roman.woff?v=1697635125')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Snell';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/SnellBT-Regular.woff2?v=1697635125')
        format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/SnellBT-Regular.woff?v=1697635125')
        format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'EngraversGothic';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EngraversGothicBT-Regular.woff2?v=1697635125')
        format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EngraversGothicBT-Regular.woff?v=1697635125')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'EurostileMonoEF';
    src: url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EurostileMonoEF-Regular.woff2?v=1697635125')
        format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0831/2474/8591/files/EurostileMonoEF-Regular.woff?v=1697635125')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  button {
    letter-spacing: inherit;
  }

  body {
    @apply bg-white font-sans text-bodyMobile font-medium uppercase text-black md:text-bodyTablet xl:text-bodyLaptop 2xl:text-bodyDesktop;
  }

  html,
  body {
    overscroll-behavior: none;
  }

  * {
    @apply uppercase;
  }

  .skew {
    @apply inline-block;
    transform: scale(0.85, 1);
    letter-spacing: 0.15em;
  }

  .min-h-screen {
    min-height: 100vh !important;
    /* fallback */
    min-height: 100dvh !important;
  }

  .h-screen {
    height: 100vh !important;
    /* fallback */
    height: 100dvh !important;
  }

  button {
    @apply uppercase;
  }
}

@layer components {
  .linkTextNavigation {
    @apply uppercase decoration-1 underline-offset-4 hover:opacity-50 active:opacity-50;
  }

  .linkTextNavigation.linkTextNavigationPage {
    @apply !opacity-100 hover:underline active:underline;
  }

  .linkTextNavigationActive {
    @apply uppercase underline decoration-1 underline-offset-4 hover:opacity-100 active:opacity-100;
  }

  .portableText {
    ol {
      list-style-type: decimal;
    }

    ol ol {
      list-style-type: lower-alpha;
    }

    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }

    ul ul {
      list-style: circle outside;
    }

    ul ul ul {
      list-style: square outside;
    }
  }
}

::selection,
::-moz-selection {
  background: rgb(255, 245, 0); /* WebKit/Blink Browsers */
}

body.no-scroll {
  @apply h-screen overflow-hidden;
}

.theme-dark body {
  @apply bg-black text-white;
}

.theme-dark form.border-black {
  @apply border-white;
}

.theme-dark rect,
.theme-dark path:not(.ignore-theme) {
  @apply stroke-white;
}

* {
  font-variant-ligatures: none;
}

html {
  @apply overflow-x-hidden antialiased;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.leaders {
  @apply relative flex w-full justify-between overflow-hidden hover:opacity-50 active:opacity-50;
}

.leaders span {
  @apply relative z-10 bg-white;
}

.theme-dark .leaders span {
  @apply bg-black;
}

.leaders::before {
  content: '................................................................................................................................................................................................................................................................';
  @apply pointer-events-none absolute bottom-0 select-none leading-paragraph;
}

/* Collections */
.collection-title svg {
  @apply h-[10vw] w-auto md:h-[6vw] xl:h-[6.5vw];
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.collection-title svg path {
  stroke-dasharray: 100000000;
  stroke-dashoffset: 10000000;
  animation: dash 1s linear forwards;
}

/* Large titles */

.large-title div,
.large-title-stretch div {
  @apply whitespace-nowrap transition-transform ease-linear;
}

.large-title-stretch rect {
  @apply hidden;
}

.large-title div {
  transform: scaleX(0.875) scaleY(1.3);
}

@screen md {
  .large-title div {
    transform: none;
  }

  .large-title:hover div {
    transform: skewX(28deg);
  }
}

.normal-case * {
  @apply !normal-case;
}

/* Form */
form {
  @apply flex flex-col gap-4 gap-6;
}

fieldset {
  @apply flex flex-col gap-[1rem];
  letter-spacing: inherit;
}

input {
  @apply h-[11.7948vw] border border-black pl-[1em] outline-none hover:opacity-50  focus:opacity-100 md:h-[3.015vw] 2xl:h-[2.578125vw];
  letter-spacing: inherit;
}

textarea,
select {
  @apply border border-black px-[1em];
  letter-spacing: inherit;
}

textarea {
  @apply py-[.875em];
}

/* Gallery */

/* 2 count */
.gallery-module[data-count='2'] div:nth-child(1) img {
  @apply md:object-right;
}

.gallery-module[data-count='2'] div:nth-child(2) img {
  @apply md:object-left;
}

.gallery-module[data-mobilestack='Vertical'] div:nth-child(1) img {
  @apply object-bottom md:object-right;
}
.gallery-module[data-mobilestack='Vertical'] div:nth-child(2) img {
  @apply object-top md:object-left;
}

/* 4 count */
.gallery-module[data-count='4'] div:nth-child(1) img {
  @apply object-right-bottom;
}

.gallery-module[data-count='4'] div:nth-child(2) img {
  @apply object-left-bottom;
}

.gallery-module[data-count='4'] div:nth-child(3) img {
  @apply object-right-top;
}

.gallery-module[data-count='4'] div:nth-child(4) img {
  @apply object-left-top;
}

@screen md {
  .gallery-image {
    @apply aspect-auto !important;
  }
}

/* Portable Text */
.portableText,
.portableText * {
  @apply !normal-case;
}

.font-serif * {
  letter-spacing: 0.04em;
  @apply normal-case;
}

.rte.body,
.rte.body * {
  @apply !normal-case;
}

.font-serif .rte * {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.02em;
}

/* RTE */
.rte,
.rte * {
  @apply !normal-case;
}

.page-rte,
.page-rte * {
  @apply !uppercase;
}

p:empty {
  @apply hidden;
}

/* Intro */
[data-await-intro] {
  @apply invisible;
}

html.nav-visible [data-await-intro] {
  @apply visible;
}

/* Radio Player */
progress {
  -webkit-appearance: none;
  height: 0.2em;
}

progress[value]::-webkit-progress-value {
  background-color: black;
}

::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Cell */
.cell-header {
  @apply md:px-[1em];
}

.cell {
  @apply py-[.5em] md:px-[1em];
}

.cart .cell {
  @apply py-[1em];
}


/* Mux Player */
mux-player {
  /* --dialog: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --rendition-selectmenu: none;
  --bottom-play-button: bottom; */
  /* --center-controls: none; */
}

.volume-range  {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volume-range:hover {
  opacity: 1;
}

.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 40em;
  background: black;
  cursor: pointer;
}